.row
  .col-sm-9.col-md-9
    .well
      %h1 Bienvenido #{ current_user.full_name}
      %h3 Sala de audiovisuales de la Universidad Cooperativa de Colombia
      %h5 Bloque 1
      %h6 Aca podra consultar, reservar y donar cualquier equipo que necesite.
